{
  "openapi": "3.0.2",
  "info": {
    "description": "Moov is a platform that enables developers to integrate all aspects of money movement with ease and speed. The Moov API makes it simple for platforms to send, receive, and store money. Our API is based upon REST principles, returns JSON responses, and uses standard HTTP response codes. To learn more about how Moov works at a high level, read our [concepts](https://docs.moov.io/guides/get-started/glossary/) guide.\n",
    "version": "v1.0.0",
    "title": "Moov API",
    "contact": {
      "name": "Moov Developer Support",
      "email": "help@moov.io",
      "url": "https://moov.io"
    },
    "license": {
      "name": "Unlicensed",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-logo": {
      "url": "https://moov.io/images/logo.png",
      "altText": "Moov logo"
    }
  },
  "servers": [
    {
      "url": "https://api.moov.io",
      "description": "Production Environment"
    }
  ],
  "tags": [
    {
      "name": "API authentication",
      "description": "For server-to-server communication, use your API key's public key and secret key with Basic authentication. When using Basic authentication, you don't need to send a scope.\n\nSet the Authorization header to `Basic <credentials>` where credentials is the Base64 encoding of public key and private key joined by a single colon `:`.\n"
    },
    {
      "name": "Access token",
      "description": "When making requests to Moov from a browser, you can use OAuth with JSON Web Tokens (JWT).\n\nOur authentication flow follows the OAuth 2.0 standard. With this endpoint, you'll [create an access token](/api/authentication/access-tokens/) that you will pass along with API requests or when initializing Moov.js. To generate an authentication token, you’ll need to specify [scopes](https://docs.moov.io/guides/developer-tools/scopes/) that enable the token to use a specific set of API endpoints. <br><br> If a scope is required, it will be listed in the description of the endpoint.\n"
    },
    {
      "name": "Accounts",
      "description": "[Accounts](https://docs.moov.io/guides/accounts/) represent a legal entity (either a business or an individual) in Moov. You can create an account for yourself or set up accounts for others, requesting different [capabilities](https://docs.moov.io/guides/accounts/capabilities/) depending on what you need to be able to do with that account. You can retrieve an account to get details on the business or individual account holder, such as an email address or employer identification number (EIN).\n\nBased on the type of account and its requested capabilities, we have certain [verification requirements](https://docs.moov.io/guides/accounts/identity-verification/). To see what capabilities that account has, you can use the [GET capability endpoint](https://docs.moov.io/api/moov-accounts/capabilities/get/).\n\nWhen you sign up for the Moov Dashboard, you will have a **facilitator account** which can be used to facilitate money movement between other accounts. A facilitator account will not show up in your list of accounts and cannot be created via API. To update your facilitator account information, use the settings page of the Moov Dashboard.\n\nYou can disconnect an account within the account's settings in the Moov Dashboard. This action cannot be undone. When an account is disconnected, the account's history and wallet is retained, but transfers cannot be submitted, and no actions can be taken on the account. See the [Dashboard](https://docs.moov.io/guides/dashboard/accounts/#disconnect-accounts) guide for more information. It is not possible to permanently delete an account.\n"
    },
    {
      "name": "Analytics",
      "description": "You can retrieve helpful at-a-glance information about your account by getting metrics on categories such as new accounts, transfer counts, and transfer volume over different time periods.\n"
    },
    {
      "name": "Apple Pay",
      "description": "Apple Pay offers a fast, easy, and secure way to accept card payments. The use of Apple Pay requires adherence to Apple's [guidelines](https://developer.apple.com/apple-pay/acceptable-use-guidelines-for-websites/) and [server requirements](https://developer.apple.com/documentation/apple_pay_on_the_web/setting_up_your_server). See our step-by-step [Apple Pay](https://docs.moov.io/guides/sources/cards/apple-pay/) guide for more information.\n"
    },
    {
      "name": "Application",
      "description": "An application allows an account to connect to other accounts and gain access to their information and move money on their behalf.\n"
    },
    {
      "name": "Avatars",
      "description": "You can retrieve an account's profile image. This is especially useful if you'd like to use the profile image for a corresponding account in your own product.\n"
    },
    {
      "name": "Bank accounts",
      "description": "To transfer money with Moov, you’ll need to link a bank account to your Moov account, then verify that account. You can link a bank account to a Moov account by providing the bank account number, routing number, and Moov account ID.\n\nWe require micro-deposit verification to reduce the risk of fraud or unauthorized activity. You can verify a bank account by initiating [micro-deposits](https://docs.moov.io/guides/sources/bank-accounts/#micro-deposit-verification), sending two small credit transfers to the bank account you want to confirm. Note that there is no way to initiate a micro-deposit from your bank of choice.\n\nYou can simulate bank account payment methods in test mode. See our [test mode](https://docs.moov.io/guides/get-started/test-mode/#bank-accounts) guide for more information.\n\nAlternatively, you can link and verify a bank account in one step through an instant account verification token from a third party provider like [Plaid](https://docs.moov.io/guides/sources/bank-accounts/verification/plaid/) or [MX](https://docs.moov.io/guides/sources/bank-accounts/verification/mx/). Bank accounts can have the following statuses: `new`, `pending`, `verified`, `verificationFailed`, `errored`. Learn more by reading our guide on [bank accounts](https://docs.moov.io/guides/sources/bank-accounts/).\n"
    },
    {
      "name": "Capabilities",
      "description": "Capabilities determine what a Moov account can do. Each capability has specific [requirements](https://docs.moov.io/guides/accounts/capabilities/requirements/), depending on risk and compliance standards associated with different account activities. For example, there are more information requirements for a business that wants to charge other accounts than for an individual who simply wants to receive funds.\n\nWhen you request a capability, we list the information requirements for that capability. Once you submit the required information, we need to verify the data. Because of this, a requested capability may not immediately become active. Note, if an account requests and is approved for `send-funds` or `collect-funds`, the `wallet` capability is automatically enabled as well. For more detailed information on capabilities and capability IDs, read our [capabilities guide](https://docs.moov.io/guides/accounts/capabilities/).\n"
    },
    {
      "name": "Card issuing",
      "x-displayName": "Cards",
      "description": "A Moov wallet can serve as a funding source for issuing virtual cards. Note that we currently only issue Visa cards. Virtual cards can then be used to spend funds from the wallet.\n\n<em> The `card-issuing` and `wallet` capabilities are required to be enabled before any card issuing functionality is available. Moov is in a private beta with select customers for card issuing.</em>\n"
    },
    {
      "name": "Cards",
      "description": "You can link credit or debit cards to Moov accounts. You can use a card as a source for making transfers, which charges the card. To link a card to a Moov account and avoid some of the burden of PCI compliance, use the [card link Moov Drop](https://docs.moov.io/moovjs/drops/card-link). You cannot add a card via the Dashboard. If you're linking a card via API, you must provide Moov with a copy of your PCI attestation of compliance. When testing cards, use the designated [card numbers for test mode](https://docs.moov.io/guides/set-up-your-account/test-mode/#card-acceptance). You must contact Moov before going live in production with cards. Read our guide on [cards](https://docs.moov.io/guides/sources/cards/) for more information."
    },
    {
      "name": "Checkout",
      "description": "<b>Coming soon -</b> Hosted checkout.\n"
    },
    {
      "name": "Connections",
      "description": "A connection forms a relationship between two accounts, allowing them to transact with each other. When you create an account for someone else, your account automatically has a connection with the account you've just created."
    },
    {
      "name": "Disputes",
      "description": "A [dispute](https://docs.moov.io/guides/money-movement/cards/disputes/) is a situation where a cardholder formally questions a transaction on their account with their card issuer. This could be for a number of reasons ranging from billing errors to fraudulent activity or dissatisfactory goods/services. If the dispute is recognized as legitimate, the issuer will reverse the payment (otherwise known as a chargeback).\n\nYou can simulate disputes, including winning or losing a dispute, in test mode. See our [test mode](https://docs.moov.io/guides/get-started/test-mode/#disputes) guide for more information.\n"
    },
    {
      "name": "Email/Password",
      "description": "Authentication via using a email and password."
    },
    {
      "name": "End to End Encryption",
      "description": "Allows for the passing of secure authentication data through an unverified proxies.\n"
    },
    {
      "name": "Enriched address",
      "description": "Search for valid addresses using a partial or full address.\n"
    },
    {
      "name": "Enriched profile",
      "description": "By supplying an email address, you can retrieve a profile with enriched data fields. This service is offered in collaboration with Clearbit.\n"
    },
    {
      "name": "Fee Plans",
      "description": "Moov offers multiple fee plans. You can view the fee plans available to your account, and assign them to your connected accounts.\n"
    },
    {
      "name": "Files",
      "description": "Files can be used for a multitude of different use cases including but not limited to, individual identity verification and business underwriting. You may need to provide documentation to enable capabilities or to keep capabilities enabled for an account. The maximum file size is 10MB. Each account is allowed a maximum of 50 files. Acceptable file types include csv, jpg, pdf, and png. To learn about uploading files in the Moov Dashboard, read our [file upload guide](https://docs.moov.io/guides/dashboard/accounts/#file-upload).\n"
    },
    {
      "name": "Industries",
      "description": "Information about industries and their merchant codes.\n"
    },
    {
      "name": "Institutions",
      "description": "Lookup ACH and wire participating financial institutions. We recommend using this endpoint when an end-user enters a routing number to confirm their bank or credit union.\n"
    },
    {
      "name": "Money movement",
      "description": "Transfer allow you Moov money\n"
    },
    {
      "name": "Moov internal",
      "description": "Meant for internal use by Moov",
      "x-traitTag": true
    },
    {
      "name": "Multi-factor",
      "description": "We require users to multi factor in when using a new device.\n"
    },
    {
      "name": "Onboarding",
      "description": "<b>Coming soon -</b> Invite organizations to onboard with Moov. Create an invitation containing a unique link that allows the recipient to provide data necessary to fulfill capability requirements, agree to pricing, and accept Moov's terms.\n\nYou can create and send an onboarding link directly from the Moov Dashboard. See our [documentation](https://docs.moov.io/guides/accounts/hosted-onboarding/) for details.\n"
    },
    {
      "name": "Open ID Connect",
      "description": "Details on Moov's open id connect implementation"
    },
    {
      "name": "Payment methods",
      "description": "[Payment methods](https://docs.moov.io/guides/money-movement/payment-methods/) represent all of the ways an account can move funds to another Moov account. Payment methods are generated programmatically when a card or bank account is added or the status is updated e.g., `ach-debit-fund` will be added as a payment method once the bank account is verified.\n\n<em>RTP® and Push to Card are not yet generally available on Moov. Contact us for more information.</em>\n"
    },
    {
      "name": "Refunds",
      "description": "We strongly suggest using the /reversals endpoint for its functionality and enhanced flexibility when dealing with refunds (the /refunds endpoint is still supported).\n\nA reversal will dynamically orchestrate a cancellation or refund based on the status of settlement process. A cancellation occurs if the transfer has not been settled. A refund occurs if the transfer is in the process of settling, or has already been settled.\n\nA reversal cannot exceed the original transfer amount, and once the reversal process has started, it cannot be canceled.\n"
    },
    {
      "name": "Representatives",
      "description": "We think of a representative as an individual who can take major actions on behalf of a business. A representative can be the business owner, or anyone who owns 25% or more of the business. Some examples of representatives are the CEO, CFO, COO, or president. We require all business accounts to have valid information for at least one representative. Moov accounts must have verified business representatives before a business account can send funds, collect money from other accounts, or store funds in a wallet. To learn more, read our guide on [business representatives](https://docs.moov.io/guides/accounts/business-representatives/).\n"
    },
    {
      "name": "Schedules",
      "description": "Set up future transfers through scheduling.\n"
    },
    {
      "name": "Signup",
      "description": "How to sign a user up via app.moov.io"
    },
    {
      "name": "Transfers",
      "description": "A [transfer](https://docs.moov.io/guides/money-movement/) is the movement of money between Moov accounts, from source to destination. You can initiate a transfer to another Moov account as long as there is a linked and verified payment method.\n\nWith Moov, you can also implement transfer groups, allowing you to associate multiple transfers together and run them sequentially. To learn more, read our guide on [transfer groups](https://docs.moov.io/guides/money-movement/transfer-groups/#transfer-statuses).\n\nYou can simulate various RTP, push to card, ACH, and declined transfer scenarios in test mode. See our [test mode](https://docs.moov.io/guides/get-started/test-mode/#transfers) guide for more information.\n"
    },
    {
      "name": "Underwriting",
      "description": "[Underwriting](https://docs.moov.io/guides/accounts/underwriting) is a tool Moov uses to understand a business’s profile before allowing them to collect funds on our platform. This profile includes information like a description of the company or the merchant’s business model, the industry they operate in, and transaction volume. Through underwriting, we can understand and prevent unnecessary financial risk for Moov and those transacting on our platform. Note that underwriting can be instant, but in some cases make take around 2 business days before approval.\n"
    },
    {
      "name": "User invites",
      "description": "This allows app.moov.io invite new users to an account.\n"
    },
    {
      "name": "Users",
      "description": "Users are lightweight objects that handle signing in to our app.moov.io\n"
    },
    {
      "name": "Wallet transactions",
      "description": "Wallet transactions provide insight into funds that move in and out of an account’s wallet. For each Moov transfer, we create a corresponding transaction that represents how that initial source impacted a wallet. Read more about [wallet transactions](https://docs.moov.io/guides/wallets/transactions).\n"
    },
    {
      "name": "Wallets",
      "description": "A [Moov wallet](https://docs.moov.io/guides/wallet/) can serve as a funding source as you accumulate funds. You can also use the Moov wallet to:\n - Pre-fund transfers for faster payouts\n - Transfer funds between Moov wallets for instantly available funds\n\n <em> If you've requested the `send-funds` or `collect-funds` capability, the `wallet` capability will be automatically requested as well. Read more on the [data requirements for wallets here](https://docs.moov.io/guides/accounts/capabilities/#wallet).</em>\n"
    }
  ],
  "x-tagGroups": [
    {
      "name": "Authentication",
      "tags": [
        "API authentication",
        "Access token",
        "Ping",
        "End to End Encryption"
      ]
    },
    {
      "name": "Moov accounts",
      "tags": [
        "Accounts",
        "Representatives",
        "Capabilities",
        "Files",
        "Underwriting",
        "Onboarding",
        "Fee Plans",
        "Branding"
      ]
    },
    {
      "name": "Sources",
      "tags": [
        "Bank accounts",
        "Cards",
        "Payment methods"
      ]
    },
    {
      "name": "Money movement",
      "tags": [
        "Transfers",
        "Disputes",
        "Schedules"
      ]
    },
    {
      "name": "Wallets",
      "tags": [
        "Wallets",
        "Wallet transactions",
        "Sweeps"
      ]
    },
    {
      "name": "Card issuing",
      "tags": [
        "Card issuing"
      ]
    },
    {
      "name": "Analytics",
      "tags": [
        "Analytics"
      ]
    },
    {
      "name": "Institution lookup",
      "tags": [
        "Institutions"
      ]
    },
    {
      "name": "Enrichment",
      "tags": [
        "Avatars",
        "Enriched address",
        "Enriched profile",
        "Industries"
      ]
    },
    {
      "name": "Moov internal",
      "tags": [
        "Signup",
        "Email/Password",
        "Multi-factor",
        "Session",
        "Verification",
        "Devices",
        "Open ID Connect",
        "Connections",
        "Users",
        "Roles",
        "Invites",
        "Application",
        "Webhooks",
        "Events",
        "Ping",
        "User invites",
        "Checkout"
      ]
    }
  ],
  "paths": {
    "/signup": {
      "post": {
        "summary": "Self signup",
        "operationId": "selfSignup",
        "description": "Allows a user to sign themselves up off the website. They will receive an email allowing them to create an user to signin with.",
        "tags": [
          "Signup"
        ],
        "requestBody": {
          "description": "Values to register with",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Signup"
              }
            }
          }
        },
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContent"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/auth/signin/password": {
      "post": {
        "summary": "Signin a user with email & password",
        "operationId": "SigninWithPassword",
        "description": "Allows a user to signin with a password",
        "tags": [
          "Email/Password"
        ],
        "requestBody": {
          "description": "Values to register with",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Signin"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            },
            "description": "The user successfully signed in"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/auth/signin/password/register": {
      "post": {
        "summary": "Register user with password",
        "operationId": "setupPassword",
        "description": "Sets up password authentication",
        "tags": [
          "Email/Password"
        ],
        "requestBody": {
          "description": "Values to register with",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Setup"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            },
            "description": "The user successfully registered"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/auth/signin/password/change-password": {
      "post": {
        "summary": "Change password",
        "operationId": "ChangePassword",
        "description": "Allows a user to change their password",
        "tags": [
          "Email/Password"
        ],
        "requestBody": {
          "description": "Current password and new",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangePassword"
              }
            }
          }
        },
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContent"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/auth/signin/password/recover": {
      "post": {
        "summary": "Recover password",
        "operationId": "RecoverPassword",
        "description": "Allows a user recover their account via an email flow",
        "tags": [
          "Email/Password"
        ],
        "requestBody": {
          "description": "Email to send recovery instructions to",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Recover"
              }
            }
          }
        },
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContent"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/auth/signin/password/recover/reset-password": {
      "post": {
        "summary": "Set password for recovery",
        "operationId": "ResetPassword",
        "description": "Allows the user to set a password after recovering their account",
        "tags": [
          "Email/Password"
        ],
        "requestBody": {
          "description": "Email to send recovery instructions to",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResetPassword"
              }
            }
          }
        },
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContent"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/auth/signin/oidc/{providerID}": {
      "get": {
        "summary": "Authenticate with OIDC Provider",
        "description": "Initiates the authentication with the Provider specified by `providerID`.\nThis will redirect to the provider who will authenticate the user. Once the provider has authenticated \nthe user it will redirect them back to us on the `/callback` url.\n",
        "operationId": "OIDCAuthentication",
        "tags": [
          "Open ID Connect"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProviderID"
          }
        ],
        "responses": {
          "302": {
            "description": "If using the OpenID Connect or OAuth 2.0 provider it issues a redirect to the providers page.\n",
            "headers": {
              "Location": {
                "schema": {
                  "$ref": "#/components/schemas/URL"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "",
                  "maxLength": 0,
                  "pattern": "\\s{0}"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/auth/signin/oidc/{providerID}/callback": {
      "get": {
        "summary": "Callback from OIDC Provider",
        "description": "This is called by the users browser once their OpenID Connect provider has authenticated the user. The \nOIDC provider will send tokens we inspect and use to obtain their information and log them into the system.\n",
        "operationId": "OIDCCallback",
        "tags": [
          "Open ID Connect"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProviderID"
          }
        ],
        "responses": {
          "302": {
            "description": "Redirects to where we want to send the user to handle verification of device\n",
            "headers": {
              "Location": {
                "schema": {
                  "$ref": "#/components/schemas/URL"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "",
                  "maxLength": 0,
                  "pattern": "\\s{0}"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/auth/verify": {
      "post": {
        "summary": "Device verification",
        "description": "Checks to ensure a device is verified and if not how to go about getting it verified",
        "operationId": "isDeviceVerified",
        "tags": [
          "Verification"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceInfo"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Devices",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "maxItems": 300,
                  "items": {
                    "$ref": "#/components/schemas/DeviceVerification"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/auth/verify/email": {
      "post": {
        "summary": "Device verification",
        "description": "Checks to ensure a device is verified and if not how to go about getting it verified",
        "operationId": "checkVerificationCodeFromEmail",
        "tags": [
          "Verification"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyViaEmail"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Devices",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceVerification"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/auth/verify/email/send": {
      "post": {
        "summary": "Send code via email",
        "description": "Send device verification code via email to the email address of the user",
        "operationId": "sendVerificationCodeViaEmail",
        "tags": [
          "Verification"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendViaEmail"
              }
            }
          }
        },
        "responses": {
          "204": {
            "$ref": "#/components/responses/Empty"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/oauth2/token": {
      "post": {
        "operationId": "CreateOAuth2Token",
        "summary": "Create access token",
        "description": "Use the `client_id` and `client_secret` to generate an access token.",
        "tags": [
          "Access token"
        ],
        "security": [
          {
            "OAuth2Credentials": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientCredentialsGrantToAccessTokenRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/ClientCredentialsGrantToAccessTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully exchanged the code to create a token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Failure create token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessTokenErrorResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/oauth2/revoke": {
      "post": {
        "operationId": "RevokeOAuth2Token",
        "summary": "Revoke access token",
        "description": "Allows clients to notify the authorization server that a previously obtained refresh or access token is no longer needed",
        "tags": [
          "Access token"
        ],
        "security": [
          {
            "OAuth2Credentials": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/RevokeTokenRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContent"
          },
          "400": {
            "description": "Failed to revoke token"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/session": {
      "get": {
        "summary": "Get current session information",
        "operationId": "getSession",
        "description": "Returns session information if still valid",
        "tags": [
          "Session"
        ],
        "responses": {
          "200": {
            "description": "session information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Session"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      },
      "delete": {
        "summary": "Delete this session and logout",
        "operationId": "disableSession",
        "description": "Logs out of the current session and disables it",
        "tags": [
          "Session"
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/Empty"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/session-refresh": {
      "post": {
        "summary": "Refresh Cookie",
        "description": "Refresh the cookie to keep a user logged in",
        "operationId": "refreshSession",
        "tags": [
          "Devices"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceInfo"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "session information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Session"
                }
              }
            }
          },
          "401": {
            "description": "No authentication or it has expired"
          },
          "404": {
            "description": "No session found"
          }
        }
      }
    },
    "/invites": {
      "parameters": [
        {
          "$ref": "#/components/parameters/XAccountID"
        }
      ],
      "get": {
        "summary": "List invites",
        "description": "List outstanding invites for an account",
        "operationId": "listInvites",
        "tags": [
          "Invites"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Invite"
                  },
                  "maxItems": 300,
                  "type": "array"
                }
              }
            },
            "description": "Invites that are outstanding"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      },
      "post": {
        "summary": "Send invite",
        "description": "Send an email invite to a user",
        "operationId": "sendInvite",
        "tags": [
          "Invites"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendInvite"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invite"
                }
              }
            },
            "description": "Invite sent"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/invites/{inviteID}": {
      "delete": {
        "summary": "Disable invite",
        "description": "Revoke an invite that was sent and invalidate the token.",
        "operationId": "disableInvite",
        "tags": [
          "Invites"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "inviteID",
            "required": true,
            "description": "InviteID of the invite to disable",
            "schema": {
              "$ref": "#/components/schemas/UUID"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Invite was removed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/invites/{inviteID}/accept": {
      "put": {
        "summary": "Accept invite",
        "description": "Accept an invite and add user to the account",
        "operationId": "acceptInvite",
        "tags": [
          "Invites"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "inviteID",
            "required": true,
            "description": "InviteID of the invite to accept",
            "schema": {
              "$ref": "#/components/schemas/UUID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invite was accepted"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/invites/{inviteID}/decline": {
      "put": {
        "summary": "Decline invite",
        "description": "Decline an invite",
        "operationId": "declineInvite",
        "tags": [
          "Invites"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "inviteID",
            "required": true,
            "description": "InviteID of the invite to decline",
            "schema": {
              "$ref": "#/components/schemas/UUID"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Invite was declined"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/invites/resend": {
      "parameters": [
        {
          "$ref": "#/components/parameters/XAccountID"
        }
      ],
      "post": {
        "summary": "Resend invite",
        "description": "Send an email re-invite to a user",
        "operationId": "resendInvite",
        "tags": [
          "Invites"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResendInvite"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invite"
                }
              }
            },
            "description": "Invite sent"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/confirm/invite": {
      "get": {
        "summary": "Confirm invite",
        "description": "Confirm an invite is valid",
        "operationId": "confirmInvite",
        "tags": [
          "Invites"
        ],
        "responses": {
          "200": {
            "description": "Call was accepted, check response body for verification data.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "verified": {
                      "type": "boolean"
                    },
                    "email": {
                      "$ref": "#/components/schemas/Email"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/accounts": {
      "get": {
        "summary": "List accounts",
        "operationId": "listAccounts",
        "description": "List or search accounts to which the caller is connected.<br><br>\nAll supported query parameters are optional. If none are provided\nthe response will include all connected accounts. Pagination is\nsupported via the `skip` and `count` query parameters.<br><br>\nSearching by name and email will overlap and return results based on relevance.\n<br><br> To use this endpoint from the browser, you'll need to specify the `/accounts.read` scope when generating a [token](https://docs.moov.io/api/authentication/access-tokens/).\n",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Filter connected accounts by name.<br><br>\nIf provided, this query will attempt to find matches against the following Account and Profile fields:\n<ul>\n  <li>Account `displayName`</li>\n  <li>Individual Profile `firstName`, `middleName`, and `lastName`</li>\n  <li>Business Profile `legalBusinessName`</li>\n</ul>\n",
            "example": "Frank",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "Filter connected accounts by email address.<br><br>\nProvide the full email address to filter by email.\n",
            "example": "someone@moov.io",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter connected accounts by AccountType.<br><br>\nIf the `type` parameter is used in combination with `name`, only the corresponding type's name fields will be searched.\nFor example, if `type=business` and `name=moov`, the search will attempt to find matches against the display name and Business Profile name fields (`legalBusinessName`, and `doingBusinessAs`).\n",
            "example": "business",
            "schema": {
              "$ref": "#/components/schemas/AccountType"
            }
          },
          {
            "name": "foreignID",
            "in": "query",
            "description": "Serves as an optional alias from a foreign/external system which can be used to reference this resource.\n",
            "example": "4528aba-b9a1-11eb-8529-0242ac13003",
            "schema": {
              "$ref": "#/components/schemas/ForeignID"
            }
          },
          {
            "name": "includeDisconnected",
            "in": "query",
            "description": "Filter disconnected accounts.<br><br>\nIf true, the response will include disconnected accounts.\n",
            "example": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "$ref": "#/components/parameters/Count"
          },
          {
            "$ref": "#/components/parameters/Skip"
          },
          {
            "name": "capability",
            "in": "query",
            "description": "Filter connected accounts by the capability.\n",
            "schema": {
              "$ref": "#/components/schemas/CapabilityID"
            }
          },
          {
            "name": "capabilityStatus",
            "in": "query",
            "description": "Filter connected accounts by the capability status.\n",
            "schema": {
              "$ref": "#/components/schemas/CapabilityStatus"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All connected accounts matching the filter parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Account"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unsupported or invalid query parameters."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      },
      "post": {
        "summary": "Create account",
        "operationId": "createAccount",
        "description": "You can create **business** or **individual** accounts for your users (i.e., customers, merchants) by passing the required information to Moov. Requirements differ per account type and requested [capabilities](https://docs.moov.io/guides/accounts/capabilities/requirements/).\n\nIf you're requesting the `wallet`, `send-funds`, `collect-funds`, or `card-issuing` capabilities, you'll need to:\n  + Send Moov the user [platform terms of service agreement](https://docs.moov.io/guides/accounts/requirements/platform-agreement/) acceptance. This can be done upon account creation, or by [patching](https://docs.moov.io/api/moov-accounts/accounts/patch/) the account using the `termsOfService` field.\n\nIf you're creating a business account with the business type `llc`, `partnership`, or `privateCorporation`, you'll need to:\n  + Provide [business representatives](https://docs.moov.io/api/moov-accounts/representatives/) after creating the account.\n  + [Patch](https://docs.moov.io/api/moov-accounts/accounts/patch/) the account to indicate that business representative ownership information is complete.\n\nVisit our documentation to read more about [creating accounts](https://docs.moov.io/guides/accounts/create-accounts/) and [verification requirements](https://docs.moov.io/guides/accounts/requirements/identity-verification/).\n\nNote that the `mode` field (for production or sandbox) is only required when creating a _facilitator_ account. All non-facilitator account requests will ignore the mode field and be set to the calling facilitator's mode.\n\nTo use this endpoint from the browser, you will need to specify the `/accounts.write` scope when generating a [token](https://docs.moov.io/api/authentication/access-tokens/).\n",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "X-Wait-For",
            "description": "Optional header that indicates whether to wait for the connection to be created before returning from the account creation.\n",
            "schema": {
              "$ref": "#/components/schemas/AccountWaitFor"
            },
            "required": false
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            },
            "description": "Account created"
          },
          "409": {
            "description": "ForeignID already associated with another account."
          },
          "422": {
            "description": "The request body could not be processed."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/accounts/{accountID}": {
      "get": {
        "summary": "Get account",
        "operationId": "getAccount",
        "description": "Retrieves details for the account with the specified ID. <br><br> To use this endpoint from the browser, you will need to specify the `/accounts/{accountID}/profile.read` scope when generating a [token](https://docs.moov.io/api/authentication/access-tokens/).",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "404": {
            "description": "No account with the specified accountID was found."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      },
      "patch": {
        "summary": "Patch account",
        "operationId": "patchAccount",
        "description": "To use this endpoint from the browser, you'll need to specify the `/accounts/{accountID}/profile.write` scope when generating a [token](https://docs.moov.io/api/authentication/access-tokens/), and provide the changed information.\n\nWhen **can** profile data be updated:\n  + For unverified accounts, all profile data can be edited.\n  + During the verification process, missing or incomplete profile data can be edited.\n  + Verified accounts can only add missing profile data.\n\n  When **can't** profile data be updated:\n  + Verified accounts cannot change any existing profile data.\n\nIf you need to update information in a locked state, please contact Moov support.\n",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The patched account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "404": {
            "description": "No account with the specified accountID was found."
          },
          "409": {
            "description": "- Account fields locked due to verification status \n - Account type cannot be changed \n - ForeignID already associated with another account"
          },
          "422": {
            "description": "The request body could not be processed."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      },
      "delete": {
        "summary": "Disconnect account",
        "operationId": "disconnectAccount",
        "description": "To use this endpoint from the browser, you'll need to specify the `/accounts/{accountID}/profile.disconnect` scope when generating a [token](https://docs.moov.io/api/authentication/access-tokens/), and provide the changed information.\n\nThis will sever the connection between you and the account specified and it will no longer be listed as active in the list of accounts. This also means you'll only have read-only access to the account going forward for reporting purposes.\n",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          }
        ],
        "responses": {
          "204": {
            "description": "Account disconnected"
          },
          "404": {
            "description": "No account with the specified accountID was found."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/tos-token": {
      "get": {
        "summary": "Get terms of service token",
        "operationId": "getTermsOfServiceToken",
        "description": "Generates a non-expiring token that can then be used to accept Moov's terms of service. This token can only be generated via API. Any Moov account requesting the `collect-funds`, `send-funds`, `wallet`, or `card-issuing` capabilities must accept Moov's terms of service, then have the generated terms of service token patched to the account. Read more in our [docs](https://docs.moov.io/guides/accounts/requirements/platform-agreement/).",
        "tags": [
          "Accounts"
        ],
        "responses": {
          "200": {
            "description": "The newly generated terms of service token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TermsOfServiceToken"
                }
              }
            }
          },
          "422": {
            "description": "Required request headers were missing or contained unprocessable data"
          }
        }
      }
    },
    "/onboarding-invites": {
      "post": {
        "summary": "Create onboarding invite",
        "operationId": "createOnboardingInvite",
        "description": "Create an invitation containing a unique link that allows the recipient to onboard their organization with Moov.\n",
        "tags": [
          "Onboarding"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OnboardingInviteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created onboarding invite.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnboardingInvite"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "description": "Errors were found in one or more fields of the request body.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {}
                },
                "example": {
                  "capabilities": "cannot be blank."
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "get": {
        "summary": "List onboarding invites",
        "operationId": "listOnboardingInvites",
        "description": "List all the onboarding invites created by the caller's account.\n",
        "tags": [
          "Onboarding"
        ],
        "responses": {
          "200": {
            "description": "List of onboarding invites.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OnboardingInvite"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/onboarding-invites/{code}": {
      "get": {
        "summary": "Get onboarding invite",
        "operationId": "getOnboardingInviteDetails",
        "description": "Retrieve details about an onboarding invite.\n",
        "tags": [
          "Onboarding"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "description": "The unique code that identifies the onboarding invite.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "N1IA5eWYNh"
          }
        ],
        "responses": {
          "200": {
            "description": "The onboarding invite.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnboardingInvite"
                }
              }
            }
          },
          "404": {
            "description": "No onboarding invite with the specified code was found."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "delete": {
        "summary": "Revoke onboarding invite",
        "operationId": "revokeOnboardingInvite",
        "description": "Revoke an onboarding invite, rendering the invitation link unusable.\n",
        "tags": [
          "Onboarding"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "description": "The unique code that identifies the onboarding invite.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "N1IA5eWYNh"
          }
        ],
        "responses": {
          "204": {
            "description": "The onboarding invite was successfully revoked."
          },
          "404": {
            "description": "No onboarding invite with the specified code was found."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/app/{code}/redeem": {
      "post": {
        "summary": "Redeem onboarding invite",
        "operationId": "redeemOnboardingInvite",
        "description": "Redeem an onboarding invite, connecting the recipient's account to the inviting account.\nIf successful, the caller will be redirected to the Moov dashboard.\n",
        "tags": [
          "Moov Internal"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "description": "The unique code that identifies the onboarding invite.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "N1IA5eWYNh"
          },
          {
            "name": "X-Account-ID",
            "in": "header",
            "description": "The ID of the account that's redeeming the invite.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          }
        ],
        "responses": {
          "303": {
            "description": "The onboarding invite was successfully redeemed.",
            "headers": {
              "Location": {
                "description": "The URL to redirect the user to after redeeming the invite.",
                "schema": {
                  "type": "string",
                  "format": "uri",
                  "example": "https://dashboard.moov.io/onboarding/N1IA5eWYNh"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "description": "No onboarding invite with the specified code was found."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/accounts/{accountID}/countries": {
      "get": {
        "summary": "Get account countries",
        "operationId": "getAccountCountries",
        "description": "Retrieve the specified countries of operation for an account. <br><br> To use this endpoint from the browser, you'll need to specify the `/accounts/{accountID}/profile.read` scope when generating a [token](https://docs.moov.io/api/authentication/access-tokens/).",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested countries.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Countries"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      },
      "put": {
        "summary": "Assign Account Countries",
        "operationId": "assignAccountCountries",
        "description": "Assign the countries of operation for an account. This endpoint will always overwrite the previously assigned values. <br><br> To use this endpoint from the browser, you'll need to specify the `/accounts/{accountID}/profile.write` scope when generating a [token](https://docs.moov.io/api/authentication/access-tokens/).",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Countries"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Countries"
                }
              }
            },
            "description": "Countries assigned to account."
          },
          "422": {
            "description": "The request body could not be processed."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/accounts/{accountID}/representatives": {
      "post": {
        "summary": "Create representative",
        "operationId": "createRepresentative",
        "description": "Moov accounts associated with businesses require information regarding individuals who represent the business. You can provide this information by creating a representative. Each account is allowed a maximum of 7 representatives. Read our [business representatives](https://docs.moov.io/guides/accounts/requirements/business-representatives/) guide to learn more. <br><br> To use this endpoint from the browser, you'll need to specify the `/accounts/{accountID}/representatives.write` scope when generating a [token](https://docs.moov.io/api/authentication/access-tokens/).",
        "tags": [
          "Representatives"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRepresentative"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Representative"
                },
                "examples": {
                  "postRepresentativeResponse": {
                    "$ref": "#/components/examples/postRepresentativeResponse"
                  }
                }
              }
            },
            "description": "Representative created."
          },
          "404": {
            "description": "The specified account or representative was not found."
          },
          "422": {
            "description": "The request body could not be processed."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      },
      "get": {
        "summary": "List representatives",
        "operationId": "listRepresentatives",
        "description": "A Moov account may have multiple representatives depending on the associated business's ownership and management structure. You can use this method to list all the representatives for a given Moov account. Note that Moov accounts associated with an individual do not have representatives. Read our [business representatives](https://docs.moov.io/guides/accounts/requirements/business-representatives/) guide to learn more. <br><br> To use this endpoint from the browser, you need to specify the `/accounts/{accountID}/representatives.read` scope when generating a [token](https://docs.moov.io/api/authentication/access-tokens/).",
        "tags": [
          "Representatives"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved representatives",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Representative"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/accounts/{accountID}/representatives/{representativeID}": {
      "get": {
        "summary": "Get representative",
        "operationId": "getRepresentative",
        "description": "Retrieve a specific representative associated with a given Moov account. Read our [business representatives](https://docs.moov.io/guides/accounts/requirements/business-representatives/) guide to learn more. <br><br> To use this endpoint from the browser, you'll need to specify the `/accounts/{accountID}/representatives.read` scope when generating a [token](https://docs.moov.io/api/authentication/access-tokens/).",
        "tags": [
          "Representatives"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          },
          {
            "$ref": "#/components/parameters/RepresentativeID"
          }
        ],
        "responses": {
          "200": {
            "description": "The representative.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Representative"
                }
              }
            }
          },
          "404": {
            "description": "No representative with the specified representativeID was found."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      },
      "delete": {
        "summary": "Delete a representative",
        "operationId": "deleteRepresentative",
        "description": "Deletes a business representative associated with a Moov account. Read our [business representatives](https://docs.moov.io/guides/accounts/requirements/business-representatives/) guide to learn more. <br><br> To use this endpoint from the browser, you'll need to specify the `/accounts/{accountID}/representatives.write` scope when generating a [token](https://docs.moov.io/api/authentication/access-tokens/).",
        "tags": [
          "Representatives"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          },
          {
            "$ref": "#/components/parameters/RepresentativeID"
          }
        ],
        "responses": {
          "204": {
            "description": "Representative deleted."
          },
          "404": {
            "description": "The specified account or representative was not found."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      },
      "patch": {
        "summary": "Patch representative",
        "operationId": "patchRepresentative",
        "description": "If a representative's information has changed you can patch the information associated with a specific representative ID. Read our [business representatives](https://docs.moov.io/guides/accounts/requirements/business-representatives/) guide to learn more. <br>  \nTo use this endpoint from the browser, you'll need to specify the `/accounts/{accountID}/representatives.write` scope when generating a [token](https://docs.moov.io/api/authentication/access-tokens/), and provide the changed information.\n\nWhen **can** profile data be updated:\n  + For unverified representatives, all profile data can be edited.\n  + During the verification process, missing or incomplete profile data can be edited.\n  + Verified representatives can only add missing profile data.\n\n  When **can't** profile data be updated:\n  + Verified representatives cannot change any existing profile data.\n\nIf you need to update information in a locked state, please contact Moov support.\n",
        "tags": [
          "Representatives"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          },
          {
            "$ref": "#/components/parameters/RepresentativeID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchRepresentativeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Representative"
                }
              }
            },
            "description": "representative patched"
          },
          "404": {
            "description": "The specified account or representative was not found."
          },
          "409": {
            "description": "Representative fields locked due to verification status."
          },
          "422": {
            "description": "The request body could not be processed."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/users/{userID}": {
      "get": {
        "summary": "Get user",
        "operationId": "getUser",
        "description": "Returns the specific user if they have access",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "userID",
            "required": true,
            "description": "UserID of the user to load",
            "schema": {
              "$ref": "#/components/schemas/UUID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "user requested",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      },
      "put": {
        "summary": "Update User",
        "operationId": "updateUser",
        "description": "Updates the specific user with the new values",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "userID",
            "required": true,
            "description": "UserID of the user to update",
            "schema": {
              "$ref": "#/components/schemas/UUID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "user requested",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateUser"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/users/{userID}/accounts": {
      "parameters": [
        {
          "$ref": "#/components/parameters/XAccountID"
        }
      ],
      "get": {
        "summary": "Get accounts user has access to",
        "operationId": "getUserAccounts",
        "description": "Returns the list of accounts a user has access to",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "userID",
            "required": true,
            "description": "UserID of the user to load",
            "schema": {
              "$ref": "#/components/schemas/UUID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "user requested",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "A list of accessible accounts by that user",
                  "items": {
                    "$ref": "#/components/schemas/UserAccount"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/users/{userID}/invites": {
      "get": {
        "summary": "Get pending invites sent for user",
        "operationId": "getUserInvites",
        "description": "Returns the pending invitiations sent to the user by user on other accounts",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "userID",
            "required": true,
            "description": "UserID of the user to load",
            "schema": {
              "$ref": "#/components/schemas/UUID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pending invites",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "A list of pending invites",
                  "items": {
                    "$ref": "#/components/schemas/UserInvite"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/roles": {
      "parameters": [
        {
          "$ref": "#/components/parameters/XAccountID"
        }
      ],
      "get": {
        "operationId": "listRoles",
        "summary": "List roles",
        "description": "Retrieve all roles for the account",
        "tags": [
          "Roles"
        ],
        "responses": {
          "200": {
            "description": "Roles that are outstanding",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "maxItems": 300,
                  "items": {
                    "$ref": "#/components/schemas/Role"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      },
      "post": {
        "operationId": "createRole",
        "summary": "Create role",
        "description": "Add a new role for the account",
        "tags": [
          "Roles"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRole"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Role created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Role"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/roles/{roleID}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/XAccountID"
        },
        {
          "in": "path",
          "name": "roleID",
          "description": "ID of the role to update",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/UUID"
          }
        }
      ],
      "get": {
        "operationId": "getRole",
        "summary": "Get Role",
        "description": "Retrieve a specific Role under the account",
        "tags": [
          "Roles"
        ],
        "responses": {
          "200": {
            "description": "Roles that are outstanding",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Role"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      },
      "put": {
        "operationId": "updateRole",
        "summary": "Update role",
        "description": "Modify an existing Role for the account",
        "tags": [
          "Roles"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRole"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Role was updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Role"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Empty"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      },
      "delete": {
        "operationId": "disableRole",
        "summary": "Delete role",
        "description": "Disable a Role under the account",
        "tags": [
          "Roles"
        ],
        "responses": {
          "204": {
            "description": "Role was removed."
          },
          "404": {
            "$ref": "#/components/responses/Empty"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/members": {
      "parameters": [
        {
          "$ref": "#/components/parameters/XAccountID"
        }
      ],
      "get": {
        "operationId": "Members.list",
        "summary": "List members",
        "description": "Retrieve all members connected to the account",
        "tags": [
          "Roles"
        ],
        "responses": {
          "200": {
            "description": "Member Users connected to the account",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "maxItems": 300,
                  "items": {
                    "$ref": "#/components/schemas/Member"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/users/{userID}/devices": {
      "get": {
        "summary": "Devices for a user",
        "description": "Returns the list of devices that are currently remembered",
        "operationId": "listDevicesForUser",
        "tags": [
          "Devices"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "userID",
            "required": true,
            "description": "Which userID to list the devices of",
            "schema": {
              "$ref": "#/components/schemas/UUID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Devices",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "maxItems": 300,
                  "items": {
                    "$ref": "#/components/schemas/Device"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/users/{userID}/devices/{deviceID}": {
      "get": {
        "summary": "Specific device",
        "description": "Get Information on a specific device",
        "operationId": "getDeviceForUser",
        "tags": [
          "Devices"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "userID",
            "required": true,
            "description": "Which userID to list the devices of",
            "schema": {
              "$ref": "#/components/schemas/UUID"
            }
          },
          {
            "in": "path",
            "name": "deviceID",
            "required": true,
            "description": "Which device that belongs to the user to get",
            "schema": {
              "$ref": "#/components/schemas/UUID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Devices",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Device"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      },
      "delete": {
        "summary": "Disable device",
        "description": "Disable a specific device",
        "operationId": "disableDeviceForUser",
        "tags": [
          "Devices"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "userID",
            "required": true,
            "description": "Which userID to list the devices of",
            "schema": {
              "$ref": "#/components/schemas/UUID"
            }
          },
          {
            "in": "path",
            "name": "deviceID",
            "required": true,
            "description": "Which device that belongs to the user to get",
            "schema": {
              "$ref": "#/components/schemas/UUID"
            }
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/Empty"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/applications": {
      "post": {
        "summary": "Enable this account as a application provider",
        "description": "Enable this account as a application provider",
        "operationId": "enableApplication",
        "tags": [
          "Application"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApplication"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created application",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      },
      "get": {
        "summary": "List applications",
        "description": "List applications for an account",
        "operationId": "listApplications",
        "tags": [
          "Application"
        ],
        "responses": {
          "200": {
            "description": "Applications attached to this account",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Application"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/applications/{applicationID}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ApplicationID"
        }
      ],
      "put": {
        "summary": "Update an application",
        "description": "Updates an application",
        "operationId": "updateApplication",
        "tags": [
          "Application"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateApplication"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created application",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      },
      "delete": {
        "summary": "Disables an application",
        "description": "Disables an application",
        "operationId": "disableApplication",
        "tags": [
          "Application"
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/Disabled"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/applications/{applicationID}/keys": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ApplicationID"
        }
      ],
      "get": {
        "summary": "List keys for an application",
        "description": "Lists keys for an application",
        "operationId": "listApplicationKeys",
        "tags": [
          "Application"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ApplicationKey"
                  },
                  "maxItems": 10,
                  "type": "array"
                }
              }
            },
            "description": "Keys attached to this application and account"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      },
      "post": {
        "summary": "Create a new application key",
        "description": "Create a new application key that can be used for OAuth 2.0 authentication",
        "operationId": "createApplicationKeys",
        "tags": [
          "Application"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApplicationKey"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedApplicationKey"
                }
              }
            },
            "description": "Invite sent"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/applications/{applicationID}/keys/{applicationKeyID}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ApplicationID"
        },
        {
          "$ref": "#/components/parameters/ApplicationKeyID"
        }
      ],
      "delete": {
        "summary": "Disables an application key",
        "description": "Disables an application key",
        "operationId": "disableApplicationKey",
        "tags": [
          "Application"
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/Disabled"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      },
      "put": {
        "summary": "Updates an application key",
        "description": "Updates an application key",
        "operationId": "updateApplicationKey",
        "tags": [
          "Application"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateApplicationKey"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationKey"
                }
              }
            },
            "description": "Application key updated"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/connections": {
      "parameters": [
        {
          "$ref": "#/components/parameters/XAccountID"
        }
      ],
      "get": {
        "summary": "List connections",
        "description": "Lists all the accounts that a specific account is connected to.",
        "operationId": "listConnections",
        "tags": [
          "Connections"
        ],
        "responses": {
          "200": {
            "description": "Connections",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "maxItems": 300,
                  "items": {
                    "$ref": "#/components/schemas/Connection"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/accounts/{accountID}/wallets": {
      "get": {
        "summary": "List wallets",
        "description": "List the wallets associated with a Moov account. Read our [Moov wallets guide](https://docs.moov.io/guides/sources/wallets/) to learn more. <br><br> To use this endpoint from the browser, you'll need to specify the `/accounts/{accountID}/wallets.read` scope when generating a [token](https://docs.moov.io/api/authentication/access-tokens/).",
        "operationId": "listWalletsForAccount",
        "tags": [
          "Wallets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          }
        ],
        "responses": {
          "200": {
            "description": "Wallets associated with the given account",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Wallet"
                  },
                  "maxItems": 10,
                  "type": "array"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/accounts/{accountID}/wallets/{walletID}": {
      "get": {
        "summary": "Get wallet",
        "description": "Get information on a specific wallet (e.g., the available balance). Read our [Moov wallets guide](https://docs.moov.io/guides/sources/wallets/) to learn more. <br><br> To use this endpoint from the browser, you'll need to specify the `/accounts/{accountID}/wallets.read` scope when generating a [token](https://docs.moov.io/api/authentication/access-tokens/).",
        "operationId": "getWalletForAccount",
        "tags": [
          "Wallets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          },
          {
            "$ref": "#/components/parameters/WalletID"
          }
        ],
        "responses": {
          "200": {
            "description": "Wallets associated with the given account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Wallet"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Empty"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Empty"
          }
        }
      }
    },
    "/accounts/{accountID}/wallets/{walletID}/transactions": {
      "get": {
        "summary": "List wallet transactions",
        "description": "List all the transactions associated with a particular Moov wallet. Read our [wallet transactions guide](https://docs.moov.io/guides/sources/wallets/transactions/) to learn more. <br><br> To use this endpoint from the browser, you'll need to specify the `/accounts/{accountID}/wallets.read` scope when generating a [token](https://docs.moov.io/api/authentication/access-tokens/).",
        "operationId": "listWalletTransactions",
        "tags": [
          "Wallet transactions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          },
          {
            "$ref": "#/components/parameters/WalletID"
          },
          {
            "description": "Optional parameter to filter by transaction type.",
            "example": "card-payment",
            "in": "query",
            "name": "transactionType",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional parameter to filter by source type (i.e. transfer, dispute, issuing-transaction).",
            "example": "dispute",
            "in": "query",
            "name": "sourceType",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional parameter to filter by source ID.",
            "example": "9506dbf6-4208-44c3-ad8a-e4431660e1f2",
            "in": "query",
            "name": "sourceID",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional parameter to filter by status (`pending` or `completed`).",
            "example": "pending",
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/parameters-Count"
          },
          {
            "description": "The number of items to offset before starting to collect the result set.",
            "example": 10,
            "in": "query",
            "name": "skip",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "createdStartDateTime",
[...]
